---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import QuemSomos from '../components/QuemSomos.astro';
import Diferenciais from '../components/Diferenciais.astro';
import Metodo from '../components/Metodo.astro';
import QuemConfia from '../components/QuemConfia.astro';
import Time from '../components/Time.astro';
import Contato from '../components/Contato.astro';
import Footer from '../components/Footer.astro';
import WhatsAppFloat from '../components/WhatsAppFloat.astro';
---

<Base>
  <Header />
  <main id="conteudo">
    <Hero />
    <QuemSomos />
    <Diferenciais />
    <Metodo />
    <QuemConfia />
    <Time />
    <Contato />
  </main>
  <Footer />
  <WhatsAppFloat />
</Base>
